<% provide(:title, t(".title")) %>
<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render "shared/user_info" %>
            </section>
            <section class="micropost_form">
                <%= render "shared/micropost_form" %>
            </section>
        </aside>
        <div class="col-md-8">
        <div class="text-center mb-5">
            <h3>Micropost Feed</h3>
        </div>
            <%= render "shared/feed" %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <div class="text-center mb-5">
            <h1>Welcome to the Sample App</h1>
            <h2>This is the home page for the
                <a href="#">Ruby on Rails Tutorial</a>
                sample application.
            </h2>
            <%= link_to t(".btn_sigup") , sigup_path ,class: "btn btn-lg btn-primary"%>
        </div>
        <img src="https://rubyonrails.org/images/rails-logo.svg" alt="Logo rails" width="200px">
    </div> 
<% end %>


