<li>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %>
<<<<<<< HEAD
    <% if current_user.admin? && !user.current_user?(current_user) %>
=======
    <% if current_user.admin? && !current_user|user| %>
>>>>>>> 90816bb (update chapter11 05/11)
        | <%= link_to t(".btn_delete"), user, method: :delete,
            data: { confirm: t(".confirm")} %>
    <% end %>
</li>
