<% provide(:title, t(".title")) %>
<% provide(:button_text, t(".btn_edit")) %>

<div class="text-center mb-5">
    <h1><%= t(".text1") %></h1>
</div>
<div class = "row gx-5 justify-content-center" >
    <div class = "col-lg-8 col-xl-6">
        <%= render "form" %>
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="https://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>
