<% provide(:title, t(".title")) %>
<div class="text-center mb-5">
    <h1><%= t(".text1") %></h1>
</div>
<%= will_paginate %>

<ul class = "list-group">
    <%= render @users %>
</ul>

<p><%= will_paginate %></p>
